<ion-view view-title="BiologyAPP">
  <ion-content class="padding">
    <h2 align= "center">ADN</h2>
    <div class="row">
          <div class="col-md-3"><h1 class="titulo"></h1></div>
          <div class="col-md-6"><img src="" class="img-responsive"></div>
          <div class="col-md-3"><h1 class="titulo"></h1></div>
        </div>
        <div class="row">
          <div class="col-md-12">

 <div style="background: rgba(0,0,0,0.2);">
            <div id="stage">
              
              <div id="spinner" style="text-align: center; color: #fff;">
                <h1><span class="green">.</span><span>_____________ </span><span class="blue">.</span></h1>
                <h1><span class="green">.</span><span>_____________ </span><span class="blue">.</span></h1>

                <h1><span class="green">.</span><span>_____________ </span><span class="blue">.</span></h1>
                <h1><span class="green">.</span><span>_____________ </span><span class="blue">.</span></h1>

                <h1><span class="green">.</span><span>_____________ </span><span class="blue">.</span></h1>

                <h1><span class="blue">.</span><span>_____________ </span><span class="green">.</span></h1>
                <h1><span class="blue">.</span><span>_____________ </span><span class="green">.</span></h1>

                <h1><span class="blue">.</span><span>_____________ </span><span class="green">.</span></h1>

                <h1><span class="blue">.</span><span>_____________ </span><span class="green">.</span></h1>


              </div>
            </div>
            <div class="row">
          <div class="col-md-3"><h1 class="titulo"></h1></div>
          <div class="col-md-6"><img src="" class="img-responsive"></div>
          <div class="col-md-3"><h1 class="titulo"></h1></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            </ion-content>
</ion-view>



