<ion-view view-title="BiologyAPP">
  <ion-content class="padding">
  	 <H2 align="center"> VIDEOS </H2>
            <p align="" class="titulo">
  	
  	<center>
        <iframe class="clase" src="https://www.youtube.com/embed/fLrIg-MImXo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
       
       <iframe class="clase" src="https://www.youtube.com/embed/W0mTWH10BQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </center>

    	