<ion-view view-title="BiologyAPP">
  <ion-content class="padding">
    <h2 align= "center">ADN</h2>
      
          <div style="background: rgba(0,0,0,0.2);">
            <div id="stage">
              <div id="spinner" style="text-align: center; color: #fff;">
                <h1><span class="green">.</span><span>_____________ </span><span class="blue">.</span></h1>

                <h1><span class="green">.</span><span>_____________ </span><span class="blue">.</span></h1>

                <h1><span class="green">.</span><span>_____________ </span><span class="blue">.</span></h1>
                <h1><span class="green">.</span><span>_____________ </span><span class="blue">.</span></h1>

                <h1><span class="green">.</span><span>_____________ </span><span class="blue">.</span></h1>

                <h1><span class="blue">.</span><span>_____________ </span><span class="green">.</span></h1>
                <h1><span class="blue">.</span><span>_____________ </span><span class="green">.</span></h1>

                <h1><span class="blue">.</span><span>_____________ </span><span class="green">.</span></h1>

                <h1><span class="blue">.</span><span>_____________ </span><span class="green">.</span></h1>

              </div>
            </div>
  </ion-content>
</ion-view>

        <div class="row">
          <div class="col-md-3"><h1 class="titulo"></h1></div>
          <div class="col-md-6"><img src="" class="img-responsive"></div>
          <div class="col-md-3"><h1 class="titulo"></h1></div>
        </div><br>
        <div class="row">
          <div class="col-md-12">
            
          </div>
                
        </div>
        <div class="row">
          <div class="col-md-12">
            <H2 align="center"> ¿Que es Biologia? </H2>
            <p align="justify" class="parrafo">La biología es la ciencia encargada del estudio de la vida y de los seres vivos. Como toda ciencia, se basa en el método científico para comprender los fenómenos biológicos. La biología no es una ciencia independiente, ella requiere de otras disciplinas, como la física, la química y la matemática.
            Desde el punto de vista de la biología, la vida se caracteriza por tener una estructuración ordenada, con capacidad para poder dividirse y reproducirse.

El crecimiento y el desarrollo de los seres vivos son una consecuencia del metabolismo, es decir, de todas las reacciones químicas con las que se aprovechan los nutrientes y se eliminan los desechos. Todo esto implica mecanismos de regulación para mantener estables las condiciones internas.

Por ultimo, pero no menos importante, todos los seres vivos reaccionan a estímulos de su medio ambiente, lo cual ha permitido a lo largo del tiempo su evolución.La biología es la llave que permite descubrir los misterios de la vida a través de la exploración de las conexiones entre los seres vivos. Gracias a la biología conocemos que los microorganismos pueden ser estructuras complejas y que nuestro propio cuerpo es una maquina maravillosa.

La biología ha contribuido enormemente al mejoramiento de la salud, no solo de los seres humanos sino también de nuestros animales domésticos. Con medicamentos, como los antibióticos, se pueden combatir las infecciones bacteriales que antes eran fatales.

Enfermedades como la diabetes, el cáncer y la hipertensión pueden ser tratadas con medicamentos descubiertos por muchos biólogos. Estos tratamientos también han contribuido al aumento de la expectativa de vida de la población humana.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <center>
            <img src="../img/sapo1.jpg" class="img-responsive"> </center>
          </div>
        </div>
        
      
      

    </center> 
    

    
  </ion-content>
</ion-view>
